<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>List of all teams</h1>
        <p>
            <% if(currentUser && currentUser.isAdmin){ %>
            <a class="btn btn-outline-dark btn-lg" href="/teams/new">Add a new Team</a>
            <% } %>
        </p>
    </div>
</header>

<div class="container d-flex justify-content-left flex-wrap">
    <% teams.forEach(function(team){ %>
        <div class="card" style="max-width: 20vw; border: none">
            <div class="d-flex">
                <div style="width: 30%">
                    <img src="<%= team.image %>" alt="" class="card-img">
                </div>
                <div class="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/teams/<%= team._id %>" class="text-dark">
                        <%= team.country %></a></h5>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>