th {
    text-align: center;
    font-size: 12px;
}

td {
    font-size: 12px;
}

.shifts {
    text-align: center;
}

.early {
    background-color: green;
    text-align: center;
}
.late {
    background-color: orange;
    text-align: center;
}
.special {
    background-color: blue;
    text-align: center;
}
.teamleadShift {
    background-color: lightsteelblue;
    text-align: center;
}
.off {
    background-color: white;
    text-align: center;
}