<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                    <li class="list-group-item"><a href="">Overview</a></li>
                    <li class="list-group-item active bg-secondary"><a href="">Shift Plan</a></li>
                    <li class="list-group-item"><a href="">Holidays</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Shift Plan</h1>
        </div>
    </div>


<% include ../../partials/footer %>